# Name: Mixture Modeling

# This algorithm thresholds the image using a gray-level 
# histogram Gaussian characterisation.

# Author: Christopher Mei (christopher.mei at sophia.inria.fr)
# Version: 1.0
# Date: 2003/12/15
# Requires: ImageJ 1.31s

Plugins>Filters, "Mixture Modeling", MixtureModeling_
Help>About Plugins, "Mixture Modeling...", MixtureModeling_("about")

